.btn-review-questions-wrapper {
  gap: 20px;
  margin-top: 80px;
  .ant-card {
    cursor: pointer;
    .ant-card-body {
      background-color: #f0f0f0;
      padding: 30px;
      border-radius: 8px;

      span {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
      }

      @include mq_min_650 {
        padding: 50px;
        border-radius: 12px;

        span {
          font-size: 26px;
          line-height: 22px;
        }
      }
    }
  }
  .ant-card.card-selected {
    .ant-card-body {
      border: 2px solid black;
      span {
        color: #64b445;
      }
    }
  }
}

.card-quantity-question-advanced,
.card-quantity-question-basic,
.card-quantity-question-specialized {
  .quantity-question {
  }

  .type-question {
    font-size: 16px;
  }
}
.card-quantity-question-basic {
  background-color: #d2f4f9;
  color: #003768;
}
.card-quantity-question-advanced {
  background-color: #fff4da;
  color: #7a4100;
}
.card-quantity-question-specialized {
  background-color: #ffe9e1;
  color: #7a0916;
}
