.modal-review-questions-wrapper {
  .ant-modal-header {
    .ant-modal-title {
      display: flex;
      align-items: center;
      gap: 12px;
      svg {
        cursor: pointer;
        width: 16px;
        height: 16px;
      }

      @include mq_min_650 {
        gap: 16px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .ant-modal-body {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    img {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      @include mq_min_650 {
        margin-bottom: 54px;
      }
    }
    .difficulty {
      margin-bottom: 24px;
      @include mq_min_650 {
        margin-bottom: 30px;
      }
    }

    .difficulty,
    .level {
      .title {
        display: block;
        color: #000;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 8px;
        @include mq_min_650 {
          font-size: 16px;
          margin-bottom: 12px;
        }
      }
      .btn-wrapper {
        display: flex;
        gap: 12px;
        .ant-btn {
          width: 100%;
          max-width: 140px;
          border-radius: 6px;
        }

        @include mq_min_650 {
          gap: 16px;
          .ant-btn {
            max-width: 170px;
          }
        }
      }
    }
  }

  .ant-modal-close {
    top: 12px;
    right: 18px;
    @include mq_min_650 {
      top: 15px;
      right: 24px;
    }
  }
}
