.wrapper-login {
  .logo {
    margin: 30px auto 20px;
    width: 140px;
    @include mq_min_650 {
      margin: 46px auto 35px;
      width: 183px;
    }
  }
  .header-login {
    margin-bottom: 20px;
    @include mq_min_650 {
      margin-bottom: 34px;
    }
  }
  .introduction {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 12px;
    font-size: 12px;
    @include mq_min_650 {
      max-width: 380px;
      margin: 0 auto 22px;
      font-size: 15px;
    }
  }

  .login-form {
    margin: 0 auto;
    .ant-form-item {
      margin-bottom: 12px;
      @include mq_min_650 {
        margin-bottom: 20px;
      }
      .ant-input {
        font-size: 12px;
        @include mq_min_650 {
          font-size: 14px;
        }
      }
      .ant-input-affix-wrapper {
        height: 40px;
        padding: 10px;
        @include mq_min_650 {
          height: 47px;
          padding: 12px;
        }
      }

      .ant-input-prefix {
        svg {
          fill: #8c8c8c;
          font-size: 14px;
          @include mq_min_650 {
            font-size: 15px;
          }
        }
      }
      .ant-input-suffix {
        svg {
          fill: #8c8c8c;
          font-size: 18px;
          @include mq_min_650 {
            font-size: 24px;
          }
        }
      }
      .ant-form-item-explain-error {
        text-align: left;
        padding: 3px 0 8px 10px;
        @include mq_min_650 {
          padding: 4px 0 10px 12px;
        }
      }

      .ant-otp-input {
        width: 54px;
        height: 32px;
        @include mq_min_650 {
          width: 64px;
          height: 40px;
        }
      }
    }

    .keep-login-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      @include mq_min_650 {
        margin-bottom: 20px;
      }
      a.forget-password {
        color: #000;
        font-size: 11px;
        @include mq_min_650 {
          font-size: 14px;
        }
      }
      .keep-login-input {
        text-align: left;
        margin-bottom: 0;
        .ant-row {
          .ant-form-item-control-input-content {
            span {
              color: #000;
              font-size: 11px;
              @include mq_min_650 {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .ant-btn {
      width: 100%;
      padding: 0;
      height: 36px;
      @include mq_min_650 {
        height: 46px;
      }
      span {
        font-size: 11px;
        @include mq_min_650 {
          font-size: 14px;
        }
      }
      &.login-zalo {
        display: flex;
        align-items: center;
        position: relative;
        border-color: #005be2;
        span {
          color: #005be2;
          width: 100%;
          font-weight: 500;
        }
        img {
          position: absolute;
          margin-left: 4px;
          width: 26px;
          @include mq_min_650 {
            margin-left: 7px;
            width: 32px;
          }
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
