.btn {
  color: #fff;
  width: 100%;
  border-radius: 6px;
  // padding: 4px 16px;
  border: none;
  @include mq_min_650 {
  }
}

.btn-success {
  background-color: $btn-color-success;
  &:hover {
    background-color: $btn-color-success-hover;
  }
}

.btn-info {
  background-color: $btn-color-info;
  &:hover {
    background-color: $btn-color-info-hover;
  }
}

.btn-danger {
  background-color: $btn-color-danger;
  &:hover {
    background-color: $btn-color-danger-hover;
  }
}
