// button
$btn-color-success: #64b445;
$btn-color-success-hover: #8bc873;
$btn-color-info: #1677ff;
$btn-color-info-hover: #4096ff;
$btn-color-danger: #f5222d;
$btn-color-danger-hover: #ff4d4f;

// color primary
$primary-1: #64b445;
$primary-2: #272a19;
$primary-3: #ce8f31;
$primary-4: #1677ff;
$primary-5: #f5222d;
$primary-6: #8bc873;
$primary-7: #9ed18a;

// text
$font-family: "Inter";

// :export {
//   primaryone: $primary-1;
//   primarytwo: $primary-2;
// }
